<h1><%= @user.first_name %>,</h1>

<p>To reset your password, click the URL below: </p>


<<p><a href="http://localhost:3000/api/v1/passwords/reset?token=<%=@user.reset_password_token%>">Click here.</a></p>

<p>If you did not request your password to be reset, just ignore this e-mail and your password will stay the same.</p>
